<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %>
      <% artist.songs.each do |song| %>
        <%= link_to song.title, song_path(song) %>
      <%end%>
    </li>
  <% end %>
</ul>
